mat-card{
    margin: 3px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
}
mat-card-footer{
    margin-left: 50px;
}
mat-card-content{
    width: 350px;
}
mat-chip-row{
    margin-left: 4px;
}