.header {
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;

    h1 {
        font-size: 32px;
        font-weight: 500;
    }
}

.upload {
    display: block;
    text-align: center;
    margin-top: 200px;

    .button-container {
        width: 200px;
        height: 200px;
        margin-bottom: 50px;
        .mat-icon {
            width: 90px !important;
            height: 90px !important;
            line-height: 90px !important;
         }
         .material-icons {
            font-size: 90px !important;
         }
    }

}