<div class="container">
    <h1>Transaccions recents</h1>
    <p>Selecciona una transacció per compartir</p>

    <div class="list">
        <mat-button-toggle-group vertical (change)="onValChange($event)">
            <div *ngFor="let item of transactions">
                <mat-button-toggle value="{{item.amount.amount}}">
                    <div class="text">
                        {{item.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{item.amount.amount}} {{item.amount.currency}}
                    </div>
                </mat-button-toggle>
            </div>
        </mat-button-toggle-group>
    </div>
</div>