<div class="container">
    <h1>Transaccions recents</h1>

    <div class="list">
        <div *ngFor="let item of transactions">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{item.name}}</mat-card-title>
                    <mat-card-footer>
                        <mat-card-subtitle>Quantity</mat-card-subtitle>
                        <mat-card-title>
                            {{item.amount.amount}} {{item.amount.currency}}
                        </mat-card-title>
                    </mat-card-footer>
                    <mat-card-footer>
                        <mat-card-subtitle>Price</mat-card-subtitle>
                        <mat-card-title>
                            {{item.price}}
                        </mat-card-title>
                    </mat-card-footer>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>